<div id="cover" class="background-image"></div>

<h1 style="text-align: center">About Us</h1>

<section id="main">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class = "card" id = "aboutUsBox">
          <p>
            Tutte is a platform that focuses on providing opportunities for students to connect with one another while enhancing their academic performances. Based in Waterloo, we stemmed from Wechat platform “Hua Lu Gong She” which have also provided students with much needed help during exam times. After the successful review lectures we held during the Fall term of 2015 and Winter term of 2016, we decided to expand our platform and level it on to a bigger stage, thus stemmed Tutte.
          </p>
          <p>
            Our major differences, when compared with other facilities that offer the same service, can be summarized into the following three points, personalized service, flexible time slot, and responsible tutors.
          </p>
          <p>
            Our personalized services offer students with the most personalized tutoring experiences they will ever experience in their years of study. Mostly one-on-one tutoring, but with the choice of group lectures, Tutte offers students the opportunity to focus on their weakest areas without the fear of delaying the progress of a group lecture or asking a “stupid question”.
          </p>
          <p>
            Tutte also offers extremely flexible time choices that has little to no constrain on the time table of the students as well as the tutors.

          </p>
          <p>
            Lastly, all of our tutors are guaranteed to be qualified to teach our students. More importantly most of our tutors have recently finished the course within a year or two and knows the ins and outs of the course. With tutors recently finishing the course at an exceptional mark, students can not only learn the content of the course material but also other related materials such as problem types on test, marking schemes for assignments, and other related information. If there are any other questions on Tutte, please contact our Wechat official account “Hua Lu Gong She”. Thank you for your interest in our Tutte, we hope to have a long and prosperous relation with you.
          </p>
          <p>
            Sincerely: "Tuttee" Team
          </p>
        </div>

      </div>

    </div>
  </div>
</section>

<div id="bar" class="background-image"></div>

<h2 style="text-align: center">Our team</h2>

<div class="row" id="intro1">

  <div class="col s12 m6 l3">
    <div class="card">
      <div class="card-image">
        <img src="http://placekitten.com/200/200">
        <span class="card-title">Dian Tang</span>
      </div>
      <div class="card-content">
        <p>Frontend Lead</p>
      </div>
      <div class="card-action">
        <a href="https://ca.linkedin.com/in/diantang">Linkedin</a>
        <a href="https://github.com/tangdian">Github.</a>
      </div>
    </div>
  </div>
</div>


