
<!--<navbar></navbar>-->
<div class="background-image">
  <div class = "HorizontalRow" id= "jumword">
    <br>
    <div class="HorizontalRow">
      <h3  >Welcome to Fahmni</h3>
      <h5 >With Fahmni, you will be able to find the top tutors in Qatar within seconds</h5>
      <h5 >Become a tutor? Its completely FREE!</h5>
    </div>
    <!--<div class="HorizontalRow">-->
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-sm-9 col-10 col-lg-11">
          <input id = "searchInput" type="text" class="form-control typeahead" placeholder="I want to learn..">
          <input class="btn light-blue darken-2" type="submit" value="submit" style="display:none">
        </div>
        <div class="col-sm-3 col-2 col-lg-1">
          <img src="../../../assets/images/icons/icon_search.png" class="" id="icon"  (click)="search()" alt="search icon">
        </div>
      </div>
    </div>
  </div>
  <!--</div>-->
</div>


<div class = "HorizontalRow center-align" id= "study">
  <h1>Start learning journey</h1>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div >
      <img class = "HorizontalRow bigIcon" src = "../../../assets/images/students/choose.png">
      <p class = "iconText HorizontalRow center-aligned">Search a Tutor</p>
    </div>
    <div >
      <img class = "HorizontalRow bigIcon" src = "../../../assets/images/students/schedule.png">
      <p class = "iconText HorizontalRow">Choose a timeslot</p>
    </div>
    <div >
      <img class = "HorizontalRow bigIcon" src = "../../../assets/images/students/signup.png">
      <p class = "iconText HorizontalRow">Sign yourself up</p>
    </div>
    <div>
      <img class = "HorizontalRow bigIcon" src = "../../../assets/images/students/signupStudent.png">
      <p class = "iconText HorizontalRow">Welcome to Tuttee journey!</p>
    </div>
  </div>
</div>

<div class = "HorizontalRow center-align" id= "teacher">
  <h1>Start tutoring now!</h1>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div>
      <img class = "HorizontalRow bigIcon" src = "../../../assets/images/teachers/upload.png">
      <p class = "iconText HorizontalRow">Upload your profile to us</p>
    </div>
    <div >
      <img class = "HorizontalRow bigIcon" src = "../../../assets/images/teachers/approve.png">
      <p class = "iconText HorizontalRow">Approved by us</p>
    </div>
    <div>
      <img class = "HorizontalRow bigIcon" src = "../../../assets/images/teachers/signupTutor.png">
      <p class = "iconText HorizontalRow">Become a new Tuttee tutor!</p>
    </div>
  </div>
</div>

